@import 'tailwindcss';

:root {
	font-family: 'Inter', system-ui, sans-serif;
	color: #f5e7c1;
	background: #050505;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-height: 100vh;
	background:
		linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.88)),
		url('/images/marble-gold-bg.jpg');

	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	color: #f5e7c1;
}